<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Pioneers</h1>
      <p class="slogan">Pioneers 是每一个想要开拓人生者开始的地方。
        <br>
        这里有最令人激动的创业公司，和最富有挑战的职位。
        <br>
        如果你想要精彩绝伦的人生，如果你想告别每天的重复劳动，
        <br>
        成为 Pioneer，开拓商业与人生的边疆，从此告别无趣平庸的人生。
      </p>
      <p class="lead">
        <%= link_to '成为 Pioneer', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">令人激动的创业公司</h2>
        <p class="lead">每一个加入的创业公司，都经过要严格审查。</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">最富挑战的职位</h2>
        <p class="lead">告别无聊平庸的重复工作，人生从此精彩绝伦。</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你的队友就在这里</h2>
        <p class="lead">这里是开拓商业与人生边疆的小伙伴聚集的地方，有了他们，创业才能走的更远。</a>
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
