<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">Copyright ©️ 2017 Pioneers
      <br/>Design by
      <a href="http://alexpan-blog.logdown.com/" target=_new>Alex</a>
    </p>
  </div>
</footer>
